---
layout: project
title: Cadbury Exhibition Space | Portfolio Sagar
---

<div class="parallax bg-cadbury"></div>

<div class="project-wrapper">
	<div class="project-content">
		<header>
			<span>PRODUCT DESIGN</span>
			<h1>CADBURY<br/>EXHIBITION SPACE</h1>
			<h3>An exhibition space that brings the Cadbury brand to life by creating an emotional connection with the visitors by stimulating their senses  by putting them at the centre of the experience. Triggering the joy reflex by connecting Cadbury to happiness.</h3>
		</header>
		<section>
			<span class="project-step-number">01</span>
			<h2>CHALLENGE</h2>
			<p>To design an exhibition space for the brand Cadbury. The space had to reflect brand values and promote brand identity and awareness. It was important to create an environment that builds and maintain a personal & emotional connection with visitors so that they can have a memorable brand experience.</p>
			<img src="../images/cadbury-exhibition-space-01-aim.jpg" alt="Cadbury Exhibition Space Aim" title="Cadbury Exhibition Space Aim">
			<span class="credits-text">
				<strong>Year:</strong> 2013
			</span>
			<span class="credits-text">
				<strong>Project type:</strong> Spatial design, Branding
			</span>
			<span class="credits-text">
				<strong>Team members:</strong> Individual project
			</span>
		</section>
		<section>
			<span class="project-step-number">02</span>
			<h2>PROCESS</h2>
			<p></p>
			<div id="project-images-wrapper">
				<img class="project-process-images" src="../images/cadbury-exhibition-space-02-sketches.jpg" alt="Cadbury Exhibition Space Sketches" title="Cadbury Exhibition Space Sketches">
				<img class="project-process-images" src="../images/cadbury-exhibition-space-03-exterior-form.jpg" alt="Cadbury Exhibition Space Exterior Form" title="Cadbury Exhibition Space Exterior Form">
				<img class="project-process-images" src="../images/cadbury-exhibition-space-04-interiors.jpg" alt="Cadbury Exhibition Space Interiors" title="Cadbury Exhibition Space Interiors">

				<img class="project-process-images" src="../images/cadbury-exhibition-space-05-interiors2.jpg" alt="Cadbury Exhibition Space Interiors" title="Cadbury Exhibition Space Interiors">

				<a href="#" class="show-more" id="load-more-project-images">
        			<span class="arrow-show-more"></span>
        			<p>SHOW MORE</p>
      			</a>
			</div>
		</section>
		<section>
			<span class="project-step-number">03</span>
			<h2>OUTCOME</h2>
			<p></p>
			<img src="../images/cadbury-exhibition-space-06-outcome.jpg" alt="Cadbury Exhibition Space Outcome" title="Cadbury Exhibition Space Outcome">
		</section>
	</div>
</div>

<div class="sharing-wrapper">
	<div class="sharing-content">
		<h1>Share this project</h1>
		<ul>
	      <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html', 'newwindow', 'width=600, height=425'); return false;" class="linkedin"><p>Share on Linkedin</p></a></li>
	      <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="pinterest"><p>Share on Pinterest</p></a></li>
	      <li><a href="http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html', 'newwindow', 'width=600, height=425'); return false;" class="facebook"><p>Share on Facebook</p></a></li>
	      <li><a href="https://twitter.com/share?url=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html" onclick="window.open('https://twitter.com/share?url=http://www.sagarsatam.com/projects/cadbury-exhibition-space.html', 'newwindow', 'width=600, height=425'); return false;" class="twitter"><p>Share on Twitter</p></a></li>
		</ul>
	</div>
</div>

<div class="other-projects">
	<section class="other-projects-content">
		<h1>OTHER PROJECTS</h1>
		<ul class="project-row">
          <li class="box">
            <a href="../projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="../images/thumb-pacman.jpg" alt="Blinky Clyde Inky Pinky Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/save.html" class="thumb-style">
              <img src="../images/thumb-save.jpg" alt="Save project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Save</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/persono.html" class="thumb-style">
              <img src="../images/thumb-persono.jpg" alt="Persono Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Persono</h1>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
	</section> 
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">
  <p><small>&uarr;</small><br/><br/>Back to top</p>
</button>