---
layout: project
title: Save | Portfolio Sagar
---

<div class="parallax bg-save"></div>

<div class="project-wrapper">
	<div class="project-content">
		<header>
			<span>SERVICE DESIGN</span>
			<h1>SAVE</h1>
			<h3>An Internet of Things enabled payment & tracking service that centralises all your payments and improves your payment experience making it seamless. It also helps you to manage and analyse your expenses efficiently & effectively.</h3>
		</header>
		<section>
			<span class="project-step-number">01</span>
			<h2>CHALLENGE</h2>
			<p>The aim of the project was to design a new generation of payment experiences across digital & physical touchpoints. Designing a service for the cashless society comes with its fair share of challenges. Security issues, data sharing between different stakeholders, privacy of personal data especially in a crowded environment while making payment and gaining of people’s trust in using the different elements that makes up the cashless experience.<br/><br/>

			Currently people have too many cards to manage during payments, and also it can be time-consuming and difficult to manage and categorise the different types of expenses in their daily lives.</p>

			<img src="../images/save-01-challenge-needs.jpg" alt="Save - Needs" title="Save - Needs">

			<span class="credits-text">
				<strong>Year:</strong> 2016
			</span>
			<span class="credits-text">
				<strong>Project Type:</strong> Designing of financial services
			</span>
			<span class="credits-text">
				<strong>Team members:</strong> Christina Sadek, Piti Pravichpaibul & Elisabeth Graf
			</span>
		</section>
		<section>
			<span class="project-step-number">02</span>
			<h2>PROCESS</h2>
			<p>Desk research was carried out in order to understand the currently state of the cashless society and how transactions are made. And which government policies and technological innovations are enabling the growth of the cashless society. 
			<br/><br/>
			User behaviour observation was carried out to get a deep understanding and empathise with the consumer's actions,their state of mind and their contextual environment when they make payments and manage their expenses. This research was analysed to build a particular persona and his user journey/experience was mapped out in order to identify the various pain points and opportunity areas. Multiple ideas were consolidated and a concept was finalised which was visualised through a storyboard.</p> 
			
			<span class="credits-text">
				<strong>My role:</strong> Quantitative & qualitative research, Analysing research, Ideation & final detailing of concept, Storyboarding
			</span>

			<div id="project-images-wrapper">
				<!-- 3 DISPLAYED IMAGES --> 
				<img class="project-process-images" src="../images/save-02-hybrid-experience.jpg" alt="Save - Hybrid Experience" title="Save - Hybrid Experience">
				<img class="project-process-images" src="../images/save-03-quote.jpg" alt="Save - Quote" title="Save - Quote">
				<img class="project-process-images" src="../images/save-04-desk-research.jpg" alt="Save - Desk Research" title="Save - Desk Research">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-05-persona.jpg" alt="Save - Persona" title="Save - Persona">
				<img class="project-process-images" src="../images/save-06-persona2.jpg" alt="Save - Persona" title="Save - Persona">
				<img class="project-process-images" src="../images/save-07-user-journey.jpg" alt="Save - User Journey" title="Save - User Journey">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-08-opportunities.jpg" alt="Save - Opportunities" title="Save - Opportunities">
				<img class="project-process-images" src="../images/save-09-challenges.jpg" alt="Save - Challenges" title="Save - Challenges">
				<img class="project-process-images" src="../images/save-10-introduction.jpg" alt="Save - Introduction" title="Save - Introduction">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-11-value.jpg" alt="Save - Value" title="Save - Value">
				<img class="project-process-images" src="../images/save-12-function.jpg" alt="Save - Function" title="Save - Function">
				<img class="project-process-images" src="../images/save-13-multi-channel.jpg" alt="Save - Multi Channel" title="Save - Multi Channel">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-14-how-it-works.jpg" alt="Save - How it works" title="Save - How it works">
				<img class="project-process-images" src="../images/save-15-storyboard.jpg" alt="Save - Storyboard" title="Save - Storyboard">
				<img class="project-process-images" src="../images/save-16-calendar.jpg" alt="Save - Calendar" title="Save - Calendar">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-17-accomodation.jpg" alt="Save - Accomodation" title="Save - Accomodation">
				<img class="project-process-images" src="../images/save-18-book.jpg" alt="Save - Book" title="Save - Book">
				<img class="project-process-images" src="../images/save-19-credit-card.jpg" alt="Save - Credit Card" title="Save - Credit Card">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-20-category.jpg" alt="Save - Category" title="Save - Category">
				<img class="project-process-images" src="../images/save-21-meeting.jpg" alt="Save - Meeting" title="Save - Meeting">
				<img class="project-process-images" src="../images/save-22-shopping.jpg" alt="Save - Shopping" title="Save - Shopping">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-23-smart.jpg" alt="Save - Smart" title="Save - Smart">
				<img class="project-process-images" src="../images/save-24-finger-print.jpg" alt="Save - Finger Print" title="Save - Finger Print">
				<img class="project-process-images" src="../images/save-25-manage.jpg" alt="Save - Manage" title="Save - Manage">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-26-visual.jpg" alt="Save - Visual" title="Save - Visual">
				<img class="project-process-images" src="../images/save-27-meeting.jpg" alt="Save - Meeting" title="Save - Meeting">
				<img class="project-process-images" src="../images/save-28-plan.jpg" alt="Save - Plan" title="Save - Plan">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/save-29-free-time.jpg" alt="Save - Free Time" title="Save - Free Time">
				<img class="project-process-images" src="../images/save-30-thank-you.jpg" alt="Save - Thank you" title="Save - Thank you">


				<!-- SHOW MORE BUTTON  -->
				<a href="#" class="show-more" id="load-more-project-images">
        			<span class="arrow-show-more"></span>
        			<p>SHOW MORE</p>
      			</a>
			</div>

		</section>
		<section>
			<span class="project-step-number">03</span>
			<h2>OUTCOME</h2>
			<p>The Save service provides a new clutter-free way of making everyday payments thus streamlining the payment experience. It allows a way in which information of multiple credit, debit, private label & loyalty cards can be stored and accessed efficiently. Thus providing a secure & efficient payment experience with one press of a button - no wallet needed - An all-in-one smart device & wallet.
			<br/><br/>
			Save leverages on the IoT to tracks user location, purchase behaviour & calendar activities.It is a smart system that learns user behaviours and provides personalised suggestions related to payment & future spendings. It also helps you to save time and effort by visualising financial information in an understandable and manageable way and also provide future projections.</p>

			<img class="project-process-images" src="../images/save-31-watch.jpg" alt="Save - Watch" title="Save - Watch">
			<img class="project-process-images" src="../images/save-32-smart.jpg" alt="Save - Smart" title="Save - Smart">

		</section>
	</div>
</div>

<div class="sharing-wrapper">
	<div class="sharing-content">
		<h1>Share this project</h1>
		<ul>
	      <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/save.html" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/save.html', 'newwindow', 'width=600, height=425'); return false;" class="linkedin"><p>Share on Linkedin</p></a></li>
	      <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="pinterest"><p>Share on Pinterest</p></a></li>
	      <li><a href="http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/save.html" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/save.html', 'newwindow', 'width=600, height=425'); return false;" class="facebook"><p>Share on Facebook</p></a></li>
	      <li><a href="https://twitter.com/share?url=http://www.sagarsatam.com/projects/save.html" onclick="window.open('https://twitter.com/share?url=http://www.sagarsatam.com/projects/save.html', 'newwindow', 'width=600, height=425'); return false;" class="twitter"><p>Share on Twitter</p></a></li>
		</ul>
	</div>
</div>

<div class="other-projects">
	<section class="other-projects-content">
		<h1>OTHER PROJECTS</h1>
		<ul class="project-row">
          <li class="box">
            <a href="../projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="../images/thumb-pacman.jpg" alt="Blinky Clyde Inky Pinky Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/talking-heads.html" class="thumb-style">
              <img src="../images/thumb-talking-head.jpg" alt="Talking Heads Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Talking Heads</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/gatsby-ottoman.html" class="thumb-style">
              <img src="../images/thumb-gatsby.jpg" alt="Gatsby Ottoman Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Gatsby Ottoman</h1>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
	</section> 
</div>