---
layout: project
title: Talking Heads | Portfolio Sagar
---

<div class="parallax bg-talking-heads"></div>

<div class="project-wrapper">
	<div class="project-content">
		<header>
			<span>SERVICE DESIGN</span>
			<h1>TALKING HEADS</h1>
			<h3>A family of pedal dustbin for the home. A family of pedal dustbin for the home. (SUMMARY!)</h3>
		</header>
		<section>
			<span class="project-step-number">01</span>
			<h2>CHALLENGE</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<img src="../images/talking-heads-01-challenge.jpg" alt="Talking Heads - Challenge" title="Talking Heads - Challenge">
			<span class="credits-text">
				<strong>Year:</strong> 2015
			</span>
			<span class="credits-text">
				<strong>Project type:</strong> Design of furniture for the outdoor space
			</span>
			<span class="credits-text">
				<strong>Team members:</strong> Individual project</p>
			</span>
		</section>
		<section>
			<span class="project-step-number">02</span>
			<h2>PROCESS</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<span class="credits-text">
				<strong>My role:</strong> user behaviour observation & interviews, conceptualisation, sketching of ideas, 3D modelling & technical drafting, final 3D rendering of the product.
			</span>

			<div id="project-images-wrapper">
				<!-- 3 DISPLAYED IMAGES --> 
				<img class="project-process-images" src="../images/talking-heads-02-context.jpg" alt="Talking Heads - Context" title="Talking Heads - Context">
				<img class="project-process-images" src="../images/talking-heads-03-maker-movement.jpg" alt="Talking Heads - Maker Movement" title="Talking Heads - Maker Movement">
				<img class="project-process-images" src="../images/talking-heads-04-about-makerland.jpg" alt="Talking Heads - About Makerland" title="Talking Heads - About Makerland">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-05-makerland.jpg" alt="Talking Heads - Makerland" title="Talking Heads - Makerland">
				<img class="project-process-images" src="../images/talking-heads-06-user-behaviour.jpg" alt="Talking Heads - User Behaviour" title="Talking Heads - User Behaviour">
				<img class="project-process-images" src="../images/talking-heads-07-insights.jpg" alt="Talking Heads - Insights" title="Talking Heads - Insights">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-08-goals.jpg" alt="Talking Heads - Goals" title="Talking Heads - Goals">
				<img class="project-process-images" src="../images/talking-heads-09-target-user.jpg" alt="Talking Heads - Target User" title="Talking Heads - Target User">
				<img class="project-process-images" src="../images/talking-heads-10-introduction.jpg" alt="Talking Heads - Introduction" title="Talking Heads - Introduction">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-11-storyboard.jpg" alt="Talking Heads - Storyboard" title="Talking Heads - Storyboard">
				<img class="project-process-images" src="../images/talking-heads-12-surprise.jpg" alt="Talking Heads - Surprise" title="Talking Heads - Surprise">
				<img class="project-process-images" src="../images/talking-heads-13-magic-box.jpg" alt="Talking Heads - Magic Box" title="Talking Heads - Magic Box">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-14-talking.jpg" alt="Talking Heads - Talking" title="Talking Heads - Talking">
				<img class="project-process-images" src="../images/talking-heads-15-interact.jpg" alt="Talking Heads - Interact" title="Talking Heads - Interact">
				<img class="project-process-images" src="../images/talking-heads-16-technical.jpg" alt="Talking Heads - Technical" title="Talking Heads - Technical">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-17-cross-selling.jpg" alt="Talking Heads - Cross Selling" title="Talking Heads - Cross Selling">
				<img class="project-process-images" src="../images/talking-heads-18-discovery.jpg" alt="Talking Heads - Discovery" title="Talking Heads - Discovery">
				<img class="project-process-images" src="../images/talking-heads-19-sensors.jpg" alt="Talking Heads - Sensors" title="Talking Heads - Sensors">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-20-engage.jpg" alt="Talking Heads - Engage" title="Talking Heads - Engage">
				<img class="project-process-images" src="../images/talking-heads-21-partners.jpg" alt="Talking Heads - Partners" title="Talking Heads - Partners">
				<img class="project-process-images" src="../images/talking-heads-22-impact.jpg" alt="Talking Heads - Impact" title="Talking Heads - Impact">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/talking-heads-23-thank-you.jpg" alt="Talking Heads - Thank you" title="Talking Heads - Thank you">

				<!-- SHOW MORE BUTTON  -->
				<a href="#" class="show-more" id="load-more-project-images">
        			<span class="arrow-show-more"></span>
        			<p>SHOW MORE</p>
      			</a>
			</div>
		</section>
		<section>
			<span class="project-step-number">03</span>
			<h2>OUTCOME</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<img class="project-process-images" src="../images/talking-heads-25-outcome-talking.jpg" alt="Talking Heads - Talking" title="Talking Heads - Talking">
			<img class="project-process-images" src="../images/talking-heads-26-outcome-engage.jpg" alt="Talking Heads - Engage" title="Talking Heads - Engage">
		</section>
	</div>
</div>

<div class="sharing-wrapper">
	<div class="sharing-content">
		<h1>Share this project</h1>
		<ul>
	      <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/talking-heads.html" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/talking-heads.html', 'newwindow', 'width=600, height=425'); return false;" class="linkedin"><p>Share on Linkedin</p></a></li>
	      <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="pinterest"><p>Share on Pinterest</p></a></li>
	      <li><a href="http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/talking-heads.html" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/talking-heads.html', 'newwindow', 'width=600, height=425'); return false;" class="facebook"><p>Share on Facebook</p></a></li>
	      <li><a href="https://twitter.com/share?url=http://www.sagarsatam.com/projects/talking-heads.html" onclick="window.open('https://twitter.com/share?url=http://www.sagarsatam.com/projects/talking-heads.html', 'newwindow', 'width=600, height=425'); return false;" class="twitter"><p>Share on Twitter</p></a></li>
		</ul>
	</div>
</div>

<div class="other-projects">
	<section class="other-projects-content">
		<h1>OTHER PROJECTS</h1>
		<ul class="project-row">
          <li class="box">
            <a href="../projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="../images/thumb-pacman.jpg" alt="Blinky Clyde Inky Pinky Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/talking-heads.html" class="thumb-style">
              <img src="../images/thumb-talking-head.jpg" alt="Talking Heads Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Talking Heads</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/gatsby-ottoman.html" class="thumb-style">
              <img src="../images/thumb-gatsby.jpg" alt="Gatsby Ottoman Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Gatsby Ottoman</h1>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
	</section> 
</div>