---
layout: project
title: Terme di Levico | Portfolio Sagar
---

<div class="parallax bg-terme"></div>

<div class="project-wrapper">
	<div class="project-content">
		<header>
			<span>SERVICE DESIGN</span>
			<h1>TERME DI LEVICO</h1>
			<h3>A family of pedal dustbin for the home. A family of pedal dustbin for the home. (SUMMARY!)</h3>
		</header>
		<section>
			<span class="project-step-number">01</span>
			<h2>CHALLENGE</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<img src="../images/levico-01-challenge-features-terme.jpg" alt="Levico - Features Terme" title="Levico - Features Terme">
			<span class="credits-text">
				<strong>Year:</strong> 2015
			</span>
			<span class="credits-text">
				<strong>Project type:</strong> Design of furniture for the outdoor space
			</span>
			<span class="credits-text">
				<strong>Team members:</strong> Individual project</p>
			</span>
		</section>
		<section>
			<span class="project-step-number">02</span>
			<h2>PROCESS</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<span class="credits-text">
				<strong>My role:</strong> user behaviour observation & interviews, conceptualisation, sketching of ideas, 3D modelling & technical drafting, final 3D rendering of the product.
			</span>

			<div id="project-images-wrapper">
				<!-- 3 DISPLAYED IMAGES --> 
				<img class="project-process-images" src="../images/levico-01-process-context.jpg" alt="Levico - Context" title="Levico - Context">
				<img class="project-process-images" src="../images/levico-02-process-cover.jpg" alt="Levico - Cover" title="Levico - Cover">
				<img class="project-process-images" src="../images/levico-03-process-about-trentino.jpg" alt="Levico - About Trentino" title="Levico - About Trentino">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-04-process-nature.jpg" alt="Levico - Nature" title="Levico - Nature">
				<img class="project-process-images" src="../images/levico-05-process-art-and-culture.jpg" alt="Levico - Art and Culture" title="Levico - Art and Culture">
				<img class="project-process-images" src="../images/levico-06-process-sports.jpg" alt="Levico - Sports" title="Levico - Sports">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-07-process-food.jpg" alt="Levico - Food" title="Levico - Food">
				<img class="project-process-images" src="../images/levico-08-process-terme-di-levico.jpg" alt="Levico - Terme di Levico" title="Levico - Terme di Levico">
				<img class="project-process-images" src="../images/levico-09-process-features-terme.jpg" alt="Levico - Features Terme" title="Levico - Features Terme">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-10-process-thermal-waters.jpg" alt="Levico - Thermal Waters" title="Levico - Thermal Waters">
				<img class="project-process-images" src="../images/levico-11-process-current-offers.jpg" alt="Levico - Current Offers" title="Levico - Current Offers">
				<img class="project-process-images" src="../images/levico-12-process-target-user.jpg" alt="Levico - Target User" title="Levico - Target User">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-13-process-opportunity.jpg" alt="Levico - Opportunity" title="Levico - Opportunity">
				<img class="project-process-images" src="../images/levico-14-process-opportunity-sports.jpg" alt="Levico - Opportunity Sports" title="Levico - Opportunity Sports">
				<img class="project-process-images" src="../images/levico-15-process-value-proposition.jpg" alt="Levico - Value Proposition" title="Levico - Value Proposition">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-16-process-brand-identity.jpg" alt="Levico - Brand Identity" title="Levico - Brand Identity">
				<img class="project-process-images" src="../images/levico-17-process-channels.jpg" alt="Levico - Channels" title="Levico - Channels">
				<img class="project-process-images" src="../images/levico-18-process-stakeholder-map.jpg" alt="Levico - Stakeholder Map" title="Levico - Stakeholder Map">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-19-process-business-model.jpg" alt="Levico - Business Model" title="Levico - Business Model">
				<img class="project-process-images" src="../images/levico-20-process-offers.jpg" alt="Levico - Offers" title="Levico - Offers">
				<img class="project-process-images" src="../images/levico-21-process-mud-therapy.jpg" alt="Levico - Mud Therapy" title="Levico - Mud Therapy">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-22-process-strengths.jpg" alt="Levico - Strengths" title="Levico - Strengths">
				<img class="project-process-images" src="../images/levico-23-process-recovery.jpg" alt="Levico - Recovery" title="Levico - Recovery">
				<img class="project-process-images" src="../images/levico-24-process-fifa-medical-centre.jpg" alt="Levico - Fifa Medical Centre" title="Levico - Fifa Medical Centre">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-25-process-service.jpg" alt="Levico - Service" title="Levico - Service">
				<img class="project-process-images" src="../images/levico-26-process-persona.jpg" alt="Levico - Persona" title="Levico - Persona">
				<img class="project-process-images" src="../images/levico-27-process-storyboard.jpg" alt="Levico - Storyboard" title="Levico - Storyboard">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-28-process-awareness.jpg" alt="Levico - Awareness" title="Levico - Awareness">
				<img class="project-process-images" src="../images/levico-29-process-booking.jpg" alt="Levico - Booking" title="Levico - Booking">
				<img class="project-process-images" src="../images/levico-30-process-fitbit.jpg" alt="Levico - Fitbit" title="Levico - Fitbit">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-31-process-new-experience.jpg" alt="Levico - New Experience" title="Levico - New Experience">
				<img class="project-process-images" src="../images/levico-32-process-activities.jpg" alt="Levico - Activities" title="Levico - Activities">
				<img class="project-process-images" src="../images/levico-33-process-gamification.jpg" alt="Levico - Gamification" title="Levico - Gamification">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-34-process-checkup.jpg" alt="Levico - Checkup" title="Levico - Checkup">
				<img class="project-process-images" src="../images/levico-35-process-post-service.jpg" alt="Levico - Post Service" title="Levico - Post Service">
				<img class="project-process-images" src="../images/levico-36-process-doctor.jpg" alt="Levico - Doctor" title="Levico - Doctor">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-37-process-management.jpg" alt="Levico - Management" title="Levico - Management">
				<img class="project-process-images" src="../images/levico-38-process-roles.jpg" alt="Levico - Roles" title="Levico - Roles">
				<img class="project-process-images" src="../images/levico-39-process-booking-system.jpg" alt="Levico - Booking System" title="Levico - Booking System">

				<!-- SHOW MORE - 3 IMAGES  -->
				<img class="project-process-images" src="../images/levico-40-process-timeline.jpg" alt="Levico - Timeline" title="Levico - Timeline">
				<img class="project-process-images" src="../images/levico-41-process-thank-you.jpg" alt="Levico - Thank you" title="Levico - Thank you">

				<!-- SHOW MORE BUTTON  -->
				<a href="#" class="show-more" id="load-more-project-images">
        			<span class="arrow-show-more"></span>
        			<p>SHOW MORE</p>
      			</a>
			</div>
		</section>
		<section>
			<span class="project-step-number">03</span>
			<h2>OUTCOME</h2>
			<p>The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin. The idea of this project was to redesign the household pedal dustbin.</p>
			<img class="project-process-images" src="../images/levico-42-outcome-gamification.jpg" alt="Levico - Gamification" title="Levico - Gamification">
			<img class="project-process-images" src="../images/levico-43-outcome-roles.jpg" alt="Levico - Roles" title="Levico - Roles">
			
		</section>
	</div>
</div>

<div class="sharing-wrapper">
	<div class="sharing-content">
		<h1>Share this project</h1>
		<ul>
	      <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/terme-di-levico.html" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sagarsatam.com/projects/terme-di-levico.html', 'newwindow', 'width=600, height=425'); return false;" class="linkedin"><p>Share on Linkedin</p></a></li>
	      <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="pinterest"><p>Share on Pinterest</p></a></li>
	      <li><a href="http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/terme-di-levico.html" onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.sagarsatam.com/projects/terme-di-levico.html', 'newwindow', 'width=600, height=425'); return false;" class="facebook"><p>Share on Facebook</p></a></li>
	      <li><a href="https://twitter.com/share?url=http://www.sagarsatam.com/projects/terme-di-levico.html" onclick="window.open('https://twitter.com/share?url=http://www.sagarsatam.com/projects/terme-di-levico.html', 'newwindow', 'width=600, height=425'); return false;" class="twitter"><p>Share on Twitter</p></a></li>
		</ul>
	</div>
</div>

<div class="other-projects">
	<section class="other-projects-content">
		<h1>OTHER PROJECTS</h1>
		<ul class="project-row">
          <li class="box">
            <a href="../projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="../images/thumb-pacman.jpg" alt="Blinky Clyde Inky Pinky Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/talking-heads.html" class="thumb-style">
              <img src="../images/thumb-talking-head.jpg" alt="Talking Heads Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Talking Heads</h1>
              </div>
            </a>
          </li>
          <li class="box">
            <a href="../projects/gatsby-ottoman.html" class="thumb-style">
              <img src="../images/thumb-gatsby.jpg" alt="Gatsby Ottoman Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Gatsby Ottoman</h1>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
	</section> 
</div>