html { 
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 18px;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-wrapper {
  background: #4b94a2;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.top-menu {
  width: 80%;
  margin: auto;
}

.menu {
  padding-top: 14px;
  float: left;
  width: 80%;

  ul { 
    margin-top: 6px; 
  }
  
  li { 
    display: inline; 
  }
  
  a {
    border-bottom: 6px solid transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: 200;
    letter-spacing: 0.025em;
    padding: 17px 8px;
    margin: 0 10px;
  }

  a:hover, a:active, a.active {
    border-bottom: 6px solid #14344e;
  }
}

#main-menu .logo {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  width: 45px;
  height: 30px;
  display: block;
  z-index: -1;

  object {
    z-index: -2;
    pointer-events: none;
  }
}

#main-menu .logo:hover {
  border: none;
  cursor: pointer;
}

#menu-center .active {
  border-bottom: 6px solid #14344e;
}

.social-media {
  list-style: none;
  float: right;
  padding-top: 20px;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    width: 20px;
    height: 20px;
    text-indent: -10000px;
    display: block;
  }

  .linkedin { background: url(/images/social-media-linkedin.png) no-repeat; }
  .instagram { background: url(/images/social-media-instagram.png) no-repeat; }
  .pinterest { background: url(/images/social-media-pinterest.png) no-repeat; }
  .behance { background: url(/images/social-media-behance.png) no-repeat; }
}

.wrapper {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: auto;
  padding: 10% 0;
}

.container h1 {
  color: #000;
  font-family: 'Nexa', sans-serif;
  font-size: 2.74em;
  line-height: 1.2em;
  letter-spacing: 0.0025em;
}

.container h1:after {
  content: "";
  background: #14344e;
  display: block;
  height: 8px;
  margin: 20px 0; 
  width: 80px;
}

.container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 0.00015em;
}

.wrapper#home {
  background: #53a8b7;
  height: 100%;
}

#home .content {
  padding-top: 80px;
}

#home h1 {
  color: #fff;
  font-family: "Nexa", sans-serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 0.0025em;
  line-height: 1em;
}

#home h1:after {
  content: "";
  background: #14344e;
  display: block;
  height: 8px;
  margin: 30px 0; 
  width: 80px;
}

#home h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875em;
  font-weight: 100;
  line-height: 1.275em;
  letter-spacing: 0.0025em;
  margin-bottom: 60px;
}

#home span {
  color: #14344e;
  font-weight: 300;
}

#my-work, #how-i-work, #contact-me {
  background: #f5f5f5;
}

.my-work-projects {
  padding-top: 20px;
}

.rounded-button {
  cursor: pointer;
  color: #53a8b7;
  display: inline-block;
  border: 2px solid #53a8b7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 0.875em;
  padding: 8px 18px;
  margin-right: 10px;
}

.rounded-button:hover {
  background: #53a8b7;
  color: #fff;
}

.rounded-button p {
  margin: 5px 10px 5px 0;
  float: left;
}

.rounded-button.download {
  padding: 5px 20px;
}

#about-me .download-icon {
  background: url("/images/icon-download.png") no-repeat;
  background-position: 0 -18px;
  float: left;
  width: 20px;
  height: 26px;
  margin: 0 3px;
}

#about-me .rounded-button:hover .download-icon {
  background-position: 0 4px;
}

.project-row {
  margin-top: 20px;
}

.box {
  display: none;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  float: left;
  margin: 0.5%;
  width: 32%;

  a img {
    display: block;
    max-width: 100%;
  }

  &:hover .box-hover {
    display: block;
  }

  /*&:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }*/
}

.box-hover,
.other-projects-content .box-hover {
  display: none;
  background-color: rgba(20, 52, 78, 0.9);
  box-sizing: border-box;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  span {
    display: block;
    font-size: 0.75em;
    margin-bottom: 10px;
    letter-spacing: 0.00015em;
  }

  h1 {
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875em;
    font-weight: 200;
    letter-spacing: 0.00015em;
    line-height: 1.25em;
  }

  h1:after { content: none; }
}

.box-hover:hover,
.other-projects-content .box-hover:hover {
  display: block;
}

.clear {
  clear: both;
}

.show-more {
  display: block;
  margin: 40px auto 40px;
  text-align: center;
  width: 120px;

  span {
    display: inline-block;
    background: url('/images/arrow-show-more.png') no-repeat;
    background-position: 0 -40px;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  &:hover span {
    background-position: 0 0; 
  }

  p {
    color: #333;
    font-size: 0.875em;
  }

  &:hover p {
    color: #4b94a2;
  }
}

#about-me {
  scroll-behavior: smooth;
  overflow-x: scroll;
}

#about-me img {
  max-width: 100%;
  margin: 40px auto 40px;
  display: block;
}

#about-me .about-me-description {
  margin-bottom: 80px;
}

#about-me .awards-wrapper {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;

  li {
    display: inline-block;
    margin: 0.4%;
    width: 32%;
  }

  img {
    margin: auto;
  }
}

/* READ MORE */

#about-me { 

  .read-more {
    color: #53a8b7;
    font-size: 0.875em;
  }

  .read-more-state {
    display: none;
  }

  .read-more-target {
    display: inline-block;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .30s ease;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: '+ Show more';
  }

  .read-more-state:checked ~ .read-more-trigger:before {
    content: '- Show less';
  }
}


/* FILTER PROJECTS */

input[type="radio"] {
    display:none;
}

input[type="radio"][id="reset"]:checked + label,
input[type="radio"][id="product-design-project"]:checked + label,
input[type="radio"][id="service-design-project"]:checked + label {
  background:#53a8b7;
  color: #fff;
}

input[type="radio"][id="product-design-project"]:checked ~ .project-row .box.tile.service-design-project {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="service-design-project"]:checked ~ .project-row .box.tile.product-design-project {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.tile {
  transition:all 1s;
}
.green {
  background:#66dd99;
}
.blue {
  background:#6666ff;
}
.red {
  background:#ff4466;
}

/* FOOTER */

footer {
  background: #53a8b7;
  color: #fff;
  font-weight: 100;

  .container {
    padding: 4% 0;
  }

  .logo {
    float: none;
  }

  .container h1:after {
    content: none;
  }
}

.footer-rights {
  float: right;
  width: 33.3%;

  small {
    margin-top: 40px;
    display: block;
    text-align: right;
  }
}

.footer-greetings {
  float: left;
  text-align: center;
  font-size: 1em;
  width: 33.3%;
}

.footer-rights .logo-svg {
  width: 45px;
  height: 30px;
  display: block;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
}

.footer-greetings span {
  display: block;
  text-align: center;
}

.footer-keep-in-touch {
  width: 33.3%;
  float: left;
  position: relative;

  h3 {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.025em;
  }

  small {
    display: block;
    margin-top: 50px;
    font-size: 1em;
  }

  h3:after {
    content: "";
    background: #14344e;
    display: block;
    height: 8px;
    margin: 20px 0; 
    width: 50px;
    position: absolute;
    left: 0;
  }

  .social-media {
    text-align: left;
    float: none;
  }
}

.posts-wrapper {
  margin-bottom: 40px;
}

/*.post-row {
  display: none;
}*/

.post-thumb {
  display: none;
  background: #f5f5f5;
  float: left;
  width: 32%;
  margin: 0.5%;
}

/*.post-thumb:first-child {
  margin-left: 0;
}

.post-thumb:last-child {
  margin-right: 0;
}*/

.post-thumb-img img {
  display: block;
  max-width: 100%;
}

.post-thumb-img {
  display: block;
  position: relative;
}

.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  display: none;
}

.post-thumb-img:hover .img-hover {
  display: block;
}

.post-thumb-description {
  box-sizing: border-box;
  padding: 30px 20px 40px;
  position: relative;
  width: 100%;
  min-height: 350px;

  span {
    background: #14344e;
    color: #fff;
    font-size: 0.75em;
    padding: 5px 10px;
    position: absolute;
    top: -16px;
  }

  h1 {
    font-size: 1.375em;
    line-height: 1.444em;
    margin-bottom: 4px;
  }

  h1:after {
    content: none;
  }

  small {
    display: block;
    font-weight: 100;
    font-size: 0.75em;
    margin-bottom: 20px;
  }

  p {
    font-weight: 100;
    line-height: 1.375em;
  }

  .rounded-button {
    margin-bottom: 0;
  }
}

#how-i-work .container {
  padding-bottom: 40px;
}

.process-step.first,
.process-step.third,
.process-step.fifth {
  background: #d4e6ea;
}

.process-step {

  article {
    width: 80%;
    margin: auto;
  }

  ul {
    float: left;
    margin: 1%;
    margin-top: 50px;
    width: 40%;
  }

  ul:first-child li {
    float: right;
  }

  span {
    color: #fff;
    display: block;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
    font-size: 0.937em;
    line-height: 1.3em;
  }

  .first-ball { background: #b9dae0; }
  .second-ball { background: #b4d6dc; }
  .third-ball { background: #86c1cc; }
  .forth-ball { background: #62afbd; }
  .fifth-ball { background: #53a8b7; }

  .third-ball, .fifth-ball { padding: 50px 0; }
}

.process-description {
  display: block;
  position: relative;
  z-index: 1;
}

.process-method {
  display: inline-block;
  float: left;
  margin: 0 10px;

  img {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 10px; 
  }

  p {
    font-size: 0.625em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
  }

  object {
    max-width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 10px; 
  }
}

.step {
  display: block;
  float: left;
  margin: 0 0 0 44%;
  width: 120px;
  position: absolute;
  bottom: 0;
  top: 0;

  .square.right {
    border-left: 4px solid orange;
  }
}

.step:before {
  content: "";
  height: 40px;
  width: 4px;
  display: block;
  background: #53a8b7;
  margin: auto;
}

.step:after {
  content: "";
  width: 4px;
  display: block;
  background: #53a8b7;
  margin: auto;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 58px;
  z-index: -1;
}

.first .step:before,
.fifth .step:after {
  content: none;
  background: transparent;
}

.first .step {
  padding-top: 40px;
}

.line {
  height: 100%;
}

.process-step ul.second-wrapper-icons {
  margin-left: 16%;
}

.arrow-down-wrapper {
  /*background: url(/images/arrow-scroll-down.png) no-repeat;*/
  width: 40px;
  /*height: 0px;*/
  margin: auto;
  display: block;

  img {
    display: block;
    margin: auto;
    padding-top: 75px;
    width: 20px;
  }
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

.parallax {
  /* Full height */
  /*height: 300px; */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 center 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax.bg-pacman { background-image: url(/images/bg-project-pacman.jpg); }
.parallax.bg-persono { background-image: url(/images/bg-project-persono.jpg); }
.parallax.bg-street-furniture { background-image: url(/images/bg-project-street-furniture.jpg); }
.parallax.bg-teapot { background-image: url(/images/bg-project-teapot.jpg); }
.parallax.bg-cadbury { background-image: url(/images/bg-project-cadbury.jpg); }
.parallax.bg-barrister { background-image: url(/images/bg-project-barrister.jpg); }
.parallax.bg-gatsby { background-image: url(/images/bg-project-gatsby.jpg); }

.parallax.bg-josmo { background-image: url(/images/bg-project-josmo.jpg); }
.parallax.bg-wearable { background-image: url(/images/bg-project-wearable.jpg); }

.parallax.bg-kin { background-image: url(/images/bg-project-kin.jpg); }
.parallax.bg-museum { background-image: url(/images/bg-project-museum.jpg); }
.parallax.bg-philips { background-image: url(/images/bg-project-philips.jpg); }
.parallax.bg-save { background-image: url(/images/bg-project-save.jpg); }
.parallax.bg-talking-heads { background-image: url(/images/bg-project-talking-heads.jpg); }
.parallax.bg-terme { background-image: url(/images/bg-project-terme.jpg); }

.parallax.bg-post-it { background-image: url(/images/cover-page-post-it.jpg); }

.project-wrapper,
.post-wrapper {
  height: auto;
  background-color: #fff;
  font-size: 2.25em;
  padding: 60px 0 80px;
  width: 100%;
}

.project-content,
.post-content {
  width: 60%;
  margin: auto;

  span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
    font-weight: 300;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1em;
    font-family: 'Nexa', sans-serif;
    letter-spacing: 0.0025em;
  }

  h1:after {
    content: "";
    background: #14344e;
    display: block;
    height: 8px;
    margin: 20px 0; 
    width: 80px;
  }

  h2 {
    background: #14344e;
    color: #fff;
    font-size: 0.5em;
    font-weight: 200;
    padding: 3px 30px;
    display: inline-block;
    margin-left: 40px;
    letter-spacing: 0.0025em;
  }

  h3 {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 1.275em;
    margin-bottom: 40px;
  }

  .project-step-number {
    font-size: 4.124em;
    margin-top: 150px;
    font-family: 'Nexa Light', sans-serif;
    font-weight: 200;
    line-height: 0.111em;
  }

  p {
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 1.555em;
  }

  img {
    max-width: 100%;
    margin: 20px 0;
  }

  .credits-text {
    font-size: 0.4em;
    margin-bottom: 5px;
    line-height: 1.5em;
    font-weight: 300;
  }
}


/* Responsive iframe */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.content-itens-list li {
  margin-left: 20px;
}

.post-content small {
  display: block; 
  font-size: 0.425em;
  margin-bottom: 30px;
}

.other-projects,
.other-posts {
  background: #f5f5f5;
  padding: 40px 0 80px;
  width: 100%;
}

.other-projects-content,
.other-posts-content {
  padding: 40px 0;
  margin: auto;
  width: 80%;

  h1 {
    font-family: 'Nexa', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.005em;
  }
}

.other-posts-content .post-thumb {
  background: #fff;
}

#contact-form {
  width: 40%;
  float: left;
  margin-right: 80px;
  margin-top: 30px;
}

#contact-form.form-style {
  .wufoo input#saveForm.btTxt.submit {
    background: #f5f5f5;
    color: #53a8b7;
    border: 2px solid #53a8b7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 0.875em;
    line-height: 0.875em;
    padding: 8px 18px;
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .buttons .submit:hover {
    background: #53a8b7;
    color: #fff;
  }
}

#Field9 {
  margin-right: 11px;
}

#foli9 span {
  margin-right: 0;
}

.wufoo label {

}

.contacts-text {
  padding-top: 70px;
  float: left;

  p {
    font-weight: 100;
  }

  span {
    display: block;
    margin-bottom: 20px;
    line-height: 1.666em;
  }

  object {
    width: 30px;
    float: left;
    margin-right: 15px;
  }
}

#contact-me .wufoo input.text {
  height: 30px;
}

.sharing-wrapper {
  width: 100%;

  .sharing-content {
    border-top: 1px solid #ccc;
    padding: 60px 0 100px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
  }

  h1 {
    text-align: center;
    font-size: 1.25em;
  }

  ul {
    display: block;
    margin: auto;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  li a {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url(/images/icons-share-social-media.png);
  }

  a p {
    text-indent: -10000px;
  }

  a.linkedin { background-position: -65px -9px; }
  a.pinterest { background-position: -123px -9px; }
  a.facebook { background-position: -178px -9px; }
  a.twitter { background-position: -8px -9px; }

  a.linkedin:hover { background-position: -65px -63px; }
  a.pinterest:hover { background-position: -123px -63px; }
  a.facebook:hover { background-position: -178px -63px; }
  a.twitter:hover { background-position: -8px -63px; } 
}

.accordion-head h2 {
  display: none;
}

/* ACCORDION */

/*.accordion,
.step-name {
  display:none;
}*/

/* BACK TO TOP BUTTON */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 8px;
  line-height: 8px;
  height: initial;

  p {
    margin: 0;
    padding: 0;
  }

  small {
    font-size: 16px;
  }
}

#myBtn:hover {
  background-color: #555;
  color: #fff;
}


/* MEDIA QUERIES */

@media only screen and (max-width:1150px) {
  
  #menu-scroll {
    width: 100%;
    position: relative;
  }

  #menu-center {
    width: 80%;
    margin: auto;
  }

  #menu-center .menu li {
    display: block;
  }

  #menu-open.open {
    background-color: #14344e;
    position: absolute;
    width: 100%;
    top: 60px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
  }

  .post-content header {
    position: static;
  }

  #about-me .awards-wrapper {
    width: 100%;

    ul {
      text-align: center;
    }

    li {
      width: 48%;
    }
  }

  .top-menu {
    width: 100%;
  }

  .top-menu .social-media {
    display: none;
  }

  header {
    position: absolute;
  }

  .project-content header {
    position: static;
  }

  .menu {
    width: 100%;
  }

  #menu-icon {
    display:inline-block;
    float: right;
  }

  #menu-icon:hover {
    border: none;
  }

  #menu-icon {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 4px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #menu-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #menu-icon span:nth-child(1) {
    top: 0px;
  }

  #menu-icon span:nth-child(2),#menu-icon3 span:nth-child(3) {
    top: 9px;
  }

  #menu-icon span:nth-child(4) {
    top: 18px;
  }

  #menu-icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 70%;
  }

  #menu-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }

  #menu-icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 70%;
  }

  #menu-open.open ul {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    padding-top: 17px;
    height: 34px;
    margin: auto;
    text-align: center;
    width: auto;


    li {
      background-color: #14344e;
    }

    li a {
      color: #fff;
    }
  }

  nav ul, nav:active ul { 
    display: none;
    padding: 20px;
    background: #333;
    border: none;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .menu-links .active,
  .menu-links .active:hover,
  .menu-links li:hover {
    border: none;
  }

  .accordion-head {
    display: block;
    padding: 0 10%;

    h2 {
      text-align: center;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 0.015em;
      margin: 10px 0;
      display: inline-block;
    }
  }

  .process-step {
    display: block;
    padding: 10px;
    position: relative;

    ul {
      float: none;
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }

    ul:first-child li {
    float: none;
    }
  }
  
  .process-description {
    display: none;
  }

  .process-method {
    float: none;
  }

  .step-name {
    display: block;
  }

  .step {
    display: none;
  }

  .step:before,
  .step:after {
    content: none;
  }

  .step span.first-ball {
    background: transparent;
  }

  /* ACCORDION 2 */

  /*.accordion {
    width: 100%;
    background-color: #EDEDED;
  }

  .accordion .accordion-head {
    color: #fff;
    background-color: #3A84DE;
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 20px 10%;
    font-size: 0.87em;
    cursor: pointer;
    overflow: hidden;
  }

  .accordion .accordion-head * {
    cursor: pointer;
  }

  .accordion .accordion-head h2 {
    float: left;
    display: inline;
    font-size: 20px;
    letter-spacing: 0.015em;
  }

  .accordion .accordion-head:hover {
    filter: alpha(opacity=80);
    opacity: 0.80;
  }

  .accordion .accordion-body {
    border-bottom: 1px solid #fff;
    padding: 20px;
    height: auto;
    display: none;
  }

  .arrow {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 23px;
    border: 10px solid transparent;
    margin-top: 21px;
    border-top-color: #F3F3F3;
  }

  .accordion-head.open .arrow {
    margin-top: 11px;
    border-bottom-color: #F3F3F3;
    border-top-color: transparent;
  }*/

  .footer-rights {
    width: 100%;
  }

  .footer-greetings {
    margin: 5px 0 60px;
    width: 100%;
    text-align: left;

    span {
      text-align: left;
    }
  }

  .footer-keep-in-touch {
    width: 100%;
    text-align: left;

    h3:after {
      left:0;
    }

    .social-media {
      float: left;
    }
  }
}

/* Portrait and Landscape */
@media only screen and (max-width : 640px) {
  .box,
  .post-thumb { 
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .project-content, 
  .post-content {
    width: 80%;
  }

  #menu-center .menu li {
    display: block;
  }

  .parallax {
    background-attachment: scroll;
    height: 30%;
  }

  #contact-form {
    width: 100%;
    margin: 0;
  }

  footer .container {
    padding-top: 60px;
  }

  .footer-rights .logo-svg {
    margin-top: 30px;
    left: 0;
  }

  .footer-rights small {
    text-align: left;
    margin-top: 70px;
  }

  #myBtn {
    display: none;
  }

  #contact-form #container {
    max-width: 100%;
  }

  #contact-form .wufoo li {
    width: 100%;
  }
}
