<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Portfolio Sagar" %></title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/stylesheets/skeleton.css" rel="stylesheet" />
    <link href="/stylesheets/typography.css" rel="stylesheet" />
    <link href="/stylesheets/wufoo-structure.css" rel="stylesheet">
    <link href="/stylesheets/wufoo-form.css" rel="stylesheet">
    <link href="/stylesheets/wufoo-theme.css" rel="stylesheet">
    <link href="/stylesheets/wufoo.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet" />
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <link href="/stylesheets/projects.css" rel="stylesheet" />

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/wufoo.js"></script>
    <script src="/javascripts/site.js"></script>
    <script src="/javascripts/projects.js"></script>

  </head>

  <body class="<%= page_classes %>" onload="today()">
    <%= yield %>
    <footer class="wrapper">
      <div class="container">
        <div class="footer-keep-in-touch">
          <h3>KEEP IN TOUCH</h3>
          <small>sagar.satam25@gmail.com</small>
          <ul class="social-media">
            <li><a href="https://www.linkedin.com/in/satamsagar/" class="linkedin">Linkedin</a></li>
            <li><a href="https://instagram.com/sagar.satam/" class="instagram">Instagram</a></li>
            <li><a href="https://pinterest.com/sagarsatam/" class="pinterest">Pinterest</a></li>
            <li><a href="http://behance.net/SagarSatam" class="behance">Behance</a></li>
          </ul>
        </div>

        <div class="footer-greetings">
          <p id="myDay"></p>
        </div>
    
        <div class="footer-rights">
          <object class="logo-svg" height="100%" width="100%" data="/images/logo-sagar-satam.svg" type="image/svg+xml" title="Sagar Satam Logo" alt="Sagar Satam Logo"></object>
          <small>All rights reserved ©<br/>2017 Sagar Satam</small>
        </div>    
      </div>
    </footer>
  </body>
</html>
