<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Portfolio Sagar" %></title>

    <link href="/portfoliosagar/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/portfoliosagar/stylesheets/skeleton.css" rel="stylesheet" />
    <link href="/portfoliosagar/stylesheets/typography.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet" />
    <link href="/portfoliosagar/stylesheets/site.css" rel="stylesheet" />
    <link href="/portfoliosagar/stylesheets/projects.css" rel="stylesheet" />

    <link href="/portfoliosagar/stylesheets/site.css" rel="stylesheet" />
    <link href="/portfoliosagar/stylesheets/projects.css" rel="stylesheet" />

    <script type="text/javascript" src="/portfoliosagar/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/portfoliosagar/javascripts/site.js"></script>
    <script type="text/javascript" src="/portfoliosagar/javascripts/projects.js"></script>

  </head>

  <body class="<%= page_classes %>" onload="today()">
    <header id="menu-hide-scroll" class="">
      <div class="menu-wrapper" id="main-menu">
        <div class="top-menu">
          <nav class="menu">
            <a href="/portfoliosagar/index.html" class="logo">
              <object height="100%" width="100%" data="/portfoliosagar/images/logo-sagar-satam.svg" type="image/svg+xml" title="Sagar Satam Logo" alt="Sagar Satam Logo"></object>
            </a>
            <ul class="menu-links">
              <li><a href="/portfoliosagar/index.html#home" id="homelink">HOME</a></li>
              <li><a href="/portfoliosagar/index.html#my-work" id="my-worklink">MY WORK</a></li>
              <li><a href="/portfoliosagar/index.html#about-me" id="about-melink">ABOUT ME</a></li>
              <li><a href="/portfoliosagar/index.html#how-i-work" id="how-i-worklink">HOW I WORK</a></li>
              <li><a href="/portfoliosagar/index.html#my-thinking" class="active" id="my-thinkinglink">MY THINKING</a></li>
              <li><a href="/portfoliosagar/index.html#contact-me" id="contact-melink">CONTACT ME</a></li>
            </ul>
          </nav>
          <ul class="social-media">
            <li><a href="https://www.linkedin.com/in/satamsagar/" class="linkedin">Linkedin</a></li>
            <li><a href="https://instagram.com/sagar.satam/" class="instagram">Instagram</a></li>
            <li><a href="https://pinterest.com/sagarsatam/" class="pinterest">Pinterest</a></li>
            <li><a href="http://behance.net/SagarSatam" class="behance">Behance</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="wrapper">
      <div class="container">
        <div class="footer-keep-in-touch">
          <h3>KEEP IN TOUCH</h3>
          <small>sagar.satam25@gmail.com</small>
          <ul class="social-media">
            <li><a href="https://www.linkedin.com/in/satamsagar/" class="linkedin">Linkedin</a></li>
            <li><a href="https://instagram.com/sagar.satam/" class="instagram">Instagram</a></li>
            <li><a href="https://pinterest.com/sagarsatam/" class="pinterest">Pinterest</a></li>
            <li><a href="http://behance.net/SagarSatam" class="behance">Behance</a></li>
          </ul>
        </div>

        <div class="footer-greetings">
          <p id="myDay"></p>
        </div>
    
        <div class="footer-rights">
          <object class="logo-svg" height="100%" width="100%" data="/portfoliosagar/images/logo-sagar-satam.svg" type="image/svg+xml" title="Sagar Satam Logo" alt="Sagar Satam Logo"></object>
          <small>All rights reserved ©<br/>2017 Sagar Satam</small>
        </div>    
      </div>
    </footer>
  </body>
</html>
