#menu-hide-scroll {
  height: 60px;
  position: fixed;
  top: -60px;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

#menu-hide-scroll.nav-up {
  top: -60px; 
}

#menu-hide-scroll.nav-down {
  top: 0; 
}

#menu-hide-scroll .menu-wrapper {
	position: static;
}

#project-images-wrapper .project-process-images {
  display: none;
}

#load-more-project-images {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  margin: 0 0 20px;

  span {
    margin: auto;
  }

  p {
    font-size: 14px;
    margin: 5px 0 0;
  }
}

/* Filtering */

/** {
  box-sizing: border-box;
}
body {
  padding: 10px;
  background: #ecf0f1;
  font-family: helvetica, sans-serif;
  font-weight: 200;
}
.btn {
  border: none;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
}

.active {
  background: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.box {
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  padding: 10px;
  height: 100px;
  width: calc(25% - 10px);
  float: left;
  margin: 5px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
}
.spacer {
  clear: both;
  height: 20px;
}*/