@font-face {
  font-family: 'Nexa';
  src: url("/typography/NexaBold.eot");
  /* IE9 Compat Modes */
  src: url("/typography/NexaBold.eot?#iefix") format("embedded-opentype"), url("/typography/NexaBold.woff") format("woff"), url("/typography/NexaBold.ttf") format("truetype"), url("/typography/NexaBold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 400; }
@font-face {
  font-family: 'Nexa Light';
  src: url("/typography/NexaLight.eot");
  /* IE9 Compat Modes */
  src: url("/typography/NexaLight.eot?#iefix") format("embedded-opentype"), url("/typography/NexaLight.woff") format("woff"), url("/typography/NexaLight.ttf") format("truetype"), url("/typography/NexaLight.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 200; }
