---
title: Portfolio Sagar Satam
---

<div class="menu-wrapper" id="main-menu">
  <div class="top-menu">
    <nav class="menu" id="menu-scroll">
      <a href="/portfoliosagar/index.html" class="logo">
        <object height="100%" width="100%" data="/portfoliosagar/images/logo-sagar-satam.svg" type="image/svg+xml" title="Sagar Satam Logo" alt="Sagar Satam Logo"></object>
      </a>
      <div id="menu-center">
        <div href="#" id="menu-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
  
          <ul class="menu-links">
            <li><a href="#home" id="homelink" class="active">HOME</a></li>
            <li><a href="#my-work" id="my-worklink">MY WORK</a></li>
            <li><a href="#about-me" id="about-melink">ABOUT ME</a></li>
            <li><a href="#how-i-work" id="how-i-worklink">HOW I WORK</a></li>
            <li><a href="#my-thinking" id="my-thinkinglink">MY THINKING</a></li>
            <li><a href="#contact-me" id="contact-melink">CONTACT ME</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="social-media">
      <li><a href="https://www.linkedin.com/in/satamsagar/" class="linkedin">Linkedin</a></li>
      <li><a href="https://instagram.com/sagar.satam/" class="instagram">Instagram</a></li>
      <li><a href="https://pinterest.com/sagarsatam/" class="pinterest">Pinterest</a></li>
      <li><a href="http://behance.net/SagarSatam" class="behance">Behance</a></li>
    </ul>
  </div>
</div>

<div class="sections">
  <section class="wrapper" id="home">
    <div class="container">
      <div class="content">
        <h1>Hello.<br/>I'm Sagar Satam.</h1>
        <h2>I’m a <span>Product & Service</span> Designer who loves </br>to develop innovative products and meaningful experiences.</h2>
        <div>
          <a href="/portfoliosagar/index.html#my-work" class="arrow-down-wrapper">
            <div class="arrow-down icon-scroll"></div>
            <img src="/portfoliosagar/images/icon-arrow-down.svg">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- MY WORK SECTION | STARTS HERE -->
  <section class="wrapper" id="my-work">
    <div class="container">
      <h1>MY <br/>WORK.</h1>
      <h3>As a designer I have worked on various Product and Service Design projects. Here are few of my works.</h3>

      <div class="my-work-projects">

        <input type="radio" id="reset" name="color"/>
        <label for="reset" class="rounded-button">ALL</label>
        
        <input type="radio" id="product-design-project" name="color" />
        <label for="product-design-project" class="rounded-button">PRODUCT DESIGN</label>
        
        <input type="radio" id="service-design-project" name="color"/>
        <label for="service-design-project" class="rounded-button">SERVICE DESIGN</label>

        <ul class="project-row">

          <!-- Blinky Clyde Inky Pinky -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/blinky-clyde-inky-pinky.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-pacman.jpg" alt="Blinky Clyde Inky Pinky Project" title="Blinky Clyde Inky Pinky Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Blinky Clyde Inky Pinky</h1>
              </div>
            </a>
          </li>

          <!-- Persono -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/persono.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-persono.jpg" alt="Persono Project" title="Persono Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Persono</h1>
              </div>
            </a>
          </li>

          <!-- Save -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/save.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-save.jpg" alt="Save Project" title="Save Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Save</h1>
              </div>
            </a>
          </li>

          <!-- Mumbai Street Furniture -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/mumbai-street-furniture.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-street-furniture.jpg" alt="Mumbai Street Furniture" title="Mumbai Street Furniture Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Mumbai Street Furniture</h1>
              </div>
            </a>
          </li>

          <!-- Kin -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/kin.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-kin.jpg" alt="kin project" title="kin project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Kin</h1>
              </div>
            </a>
          </li>

          <!-- Hot 'n' Cold -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/hot-n-cold.html" class="thumb-style">
              <img  class="fadeInDown" src="/portfoliosagar/images/thumb-teapot.jpg" alt="Hot n cold Project" title="Hot n cold projects">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Hot 'n' Cold</h1>
              </div>
            </a>
          </li>

          <!-- Levico Terme -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/terme-di-levico.html" class="thumb-style">
              <img class="fadeInDown" src="/portfoliosagar/images/thumb-terme-di-levico.jpg" alt="Levico Terme" title="Levico terme">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Levico Terme & Sports Medical Centre</h1>
              </div>
            </a>
          </li>

          <!-- Cadbury Exhibition Space -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/cadbury-exhibition-space.html" class="thumb-style">
              <img class="fadeInDown" src="/portfoliosagar/images/thumb-cadbury.jpg" alt="Cadbury Exhibition Space Project" title="Cadbury Exhibition Space Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Cadbury Exhibition Space</h1>
              </div>
            </a>
          </li>

          <!-- Talking Heads -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/talking-heads.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-talking-head.jpg" alt="Talking Heads Project" title="Talking Heads Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Talking Heads</h1>
              </div>
            </a>
          </li>

          <!-- Barrister Sofa -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/barrister-sofa.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-barrister-sofa.jpg" alt="Barrister Sofa Project" title="Barrister Sofa Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Barrister Sofa</h1>
              </div>
            </a>
          </li>

          <!-- Museum Research Project -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/research-workshop-museum.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-museum.jpg" alt="Museum Research Project" title="Museum Research Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Museum Research Project</h1>
              </div>
            </a>
          </li>
 
          <!-- Gatsby Ottoman -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/gatsby-ottoman.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-gatsby.jpg" alt="Gatsby Ottoman Project" title="Gatsby Ottoman Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Gatsby Ottoman</h1>
              </div>
            </a>
          </li>

          <!-- Philips Brand Strategy -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/philips-brand-strategy.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-philips.jpg" alt="Philips Brand Strategy Project" title="Philips Brand Strategy Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Philips Brand Strategy</h1>
              </div>
            </a>
          </li>

          <!-- Rock Vanity Table -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/rock-vanity-table.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-josmo-rock.jpg" alt="Rock Vanity Table Project" title="Rock Vanity Table Project">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Rock Vanity Table</h1>
              </div>
            </a>
          </li>

          <!-- Call & Response -->
          <li class="box tile product-design-project">
            <a href="/portfoliosagar/projects/call-response.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-pacman.jpg" alt="Call & Response Project" title="Call & Response">
              <div class="box-hover">
                <span>PRODUCT DESIGN</span>
                <h1>Call & Response</h1>
              </div>
            </a>
          </li>
        </ul>

        <!-- Hive -->
          <li class="box tile service-design-project">
            <a href="/portfoliosagar/projects/hive.html" class="thumb-style">
              <img src="/portfoliosagar/images/thumb-hive.jpg" alt="Hive Project" title="Hive Project">
              <div class="box-hover">
                <span>SERVICE DESIGN</span>
                <h1>Hive</h1>
              </div>
            </a>
          </li>

        <div class="clear"></div>
      </div>
      <a href="#" class="show-more" id="loadMore">
        <span class="arrow-show-more"></span>
        <p>SHOW MORE</p>
      </a>
    </div>
  </section>
  <!-- MY WORK SECTION | FINISH HERE -->


  <!-- ABOUT ME SECTION | STARTS HERE -->
  <section class="wrapper" id="about-me">
    <div class="container">
      <h1>ABOUT <br/>ME.</h1>
      <h3>Busy lifestyles mean we are constantly on the go, and this takes away fun from our everyday lives. I believe that living with beautifully designed products & services can bring us incredible joy, especially when they are a part of our daily lives.
      <br/><br/>
      I used to love being surrounded by products until I realized  that in recent decades services are becoming a dominant part of our economy. Information Technologies & mass digitisation increase the possibilities for services to address the basic needs of our lives. This process has been accompanied by changes in lifestyles, customs, and the culture of liquid consumer expectations. This is when i decided to shift my focus solely on products to a product-service-system design.</h3>
      <img src="/portfoliosagar/images/about-me-sagar.png" alt="about me sagar" title="About me - Sagar">

      <div class="about-me-description">
        <input type="checkbox" class="read-more-state" id="post-1" />

        <h3 class="read-more-wrap">I have been growing as a Service Designer since then and I love being a part of the Service family. I like being surrounded by books and post-it filled walls with research papers and sharpie pens all over my work desk. Critical Thinking and Problem Solving are my forte, it's the first step I take towards looking at the bigger holistic picture. As a Service Designer, I have a keen interest in understanding how people think, feel and behave when they interact with any product, service or system. As this allows me to deliver an end-to-end design solution that is thoughtful and connects people’s behaviours and needs to the proper functional and emotional features.
        <span class="read-more-target">
        <br/>
        <strong>I want to be a game changer!</strong>
        <br/>
        I strongly aspire to be a designer who designs experiences that are useful, innovative and most importantly delightful to the user. Experiences that wrap themselves around their lives and evolve with usage. Be it tangible in terms of products or intangible services, you simply cannot put a price on memorable and meaningful interactions. Overall, I want to deliver holistic experiences where both users and business benefit and grow by solving problems in a smart and sustainable way.
        <br/>
        I want to live a life that is seamless and stress free and create designs that bring a smile on people's faces. However “I don’t live to design, I Design to live” as I believe that the people do not need more stuff, but they need better and ultimately a better designed world.</span>
        </h3>

        <label for="post-1" class="read-more-trigger read-more"></label>
      </div>

      <h2>AWARDS</h2>
      <div class="awards-wrapper">
        <ul>
          <li><img src="/portfoliosagar/images/awards-adesign.png" alt="awards adesign"></li>
          <li><img src="/portfoliosagar/images/awards-idesign.png" alt="awards idesign"></li>
          <li><img src="/portfoliosagar/images/awards-raffles.png" alt="awards raffles"></li>
          <li><img src="/portfoliosagar/images/awards-poli.png" alt="awards politecnico"></li>
          <li><img src="/portfoliosagar/images/awards-designomics.png" alt="awards designomics"></li>
          <li><img src="/portfoliosagar/images/awards-pune.png" alt="awards pune"></li>
          <li><img src="/portfoliosagar/images/awards-uni-qld.png" alt="awards the university of queensland"></li>
          <li><img src="/portfoliosagar/images/awards-designomics13.png" alt="awards designomics13"></li>
        </ul>
      </div>
      <a href="/portfoliosagar/images/sagar-satam-cv.pdf" class="rounded-button download" target="_blank">
        <p>RESUME</p>
        <span class="download-icon"></span>
      </a>
    </div>
  </section>
  <!-- ABOUT ME SECTION | FINISH HERE -->


  <!-- HOW I WORK SECTION | STARTS HERE -->
  <section class="wrapper" id="how-i-work">
    <div class="container">
      <h1>HOW I <br/>WORK.</h1>
      <h3>The design process I have has been moulded after having various experiences working on projects as a student & as a professional designer. My design approach is flexible so that I can adjust it according to the different needs, constraints and expectations of the projects that i encounter.</h3>
    </div>
    <div class="how-i-work-wrapper" id="accordion-wrapper">
      <div class="how-i-work-steps">
        <section class="process-step first">
          <div class="step-name accordion-head first-accordion">
            <h2>+ RESEARCH & EMPATHISE</h2>
            <div class="arrow down"></div>
          </div>
          <article class="process-description accordion-body first-accordion-step">
            <ul>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-co-create.svg" type="image/svg+xml"></object>
                <p>CO-CREATE<br/>PROBLEM<br/>DEFINITION</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-stakeholder.svg" type="image/svg+xml"></object>
                <p>STAKEHOLDER <br/>WORKSHOPS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-trends.svg" type="image/svg+xml"></object>
                <p>TRENDS <br/>INSPIRATIONS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-benchmarking.svg" type="image/svg+xml"></object>
                <p>BENCHMARKING</p>
              </li>
            </ul>
            <div class="step">
              <span class="first-ball">RESEARCH<br/>& EMPATHISE</span>
            </div>
            <ul class="second-wrapper-icons">
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-observations.svg" type="image/svg+xml"></object>
                <p>USER BEHAVIOUR<br/>OBSERVATIONS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-system-mapping.svg" type="image/svg+xml"></object>
                <p>SYSTEMS<br/>STAKEHOLDER<br/>MAPPING</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-interviews.svg" type="image/svg+xml"></object>
                <p>INTERVIEWS <br/> SURVEYS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-empathy-mapping.svg" type="image/svg+xml"></object>
                <p>EMPATHY <br/>MAPPING</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step second">
          <div class="step-name accordion-head second-accordion">
            <h2>+ ANALYSE & DEFINE</h2>
          </div>
          <article class="process-description second-accordion-step">
            <ul>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-personas.svg" type="image/svg+xml"></object>
                <p>PERSONAS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-user-journey.svg" type="image/svg+xml"></object>
                <p>USER JOURNEYS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-touchpoints.svg" type="image/svg+xml"></object>
                <p>INTERACTIONS<br/>TOUCHPOINTS</p>
              </li>
            </ul>
            <div class="step">
              <span class="second-ball">ANALYSE<br/>& DEFINE</span>
            </div>
            <ul class="second-wrapper-icons">
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-user-needs.svg" type="image/svg+xml"></object>
                <p>USER NEEDS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-painpoint.svg" type="image/svg+xml"></object>
                <p>PAIN POINTS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-insights.svg" type="image/svg+xml"></object>
                <p>INSIGHTS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-opportunities.svg" type="image/svg+xml"></object>
                <p>OPPORTUNITIES</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>
        
        <section class="process-step third">
          <div class="step-name accordion-head third-accordion">
            <h2>+ IDEATE</h2>
          </div>
          <article class="process-description third-accordion-step">
            <ul>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-user-experience.svg" type="image/svg+xml"></object>
                <p>USER EXPERIENCE</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-co-designing.svg" type="image/svg+xml"></object>
                <p>CO-DESIGNING</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-brainstorming.svg" type="image/svg+xml"></object>
                <p>CONCEPTUALISATION<br/>BRAINSTORMING</p>
              </li>
            </ul>
            <div class="step">
              <span class="third-ball">IDEATE</span>
            </div>
            <ul class="second-wrapper-icons">
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-triangle-ideas.svg" type="image/svg+xml"></object>
                <p>TRIANGLE<br/>MAPPING IDEAS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-cross-ideas.svg" type="image/svg+xml"></object>
                <p>CROSS<br/>MAPPING IDEAS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-touchpoint-design.svg" type="image/svg+xml"></object>
                <p>TOUCHPOINT<br/>DESIGN</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-business-model.svg" type="image/svg+xml"></object>
                <p>BUSINESS MODEL<br/>STRATEGY</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step forth">
          <div class="step-name accordion-head forth-accordion">
            <h2>+ PROTOTYPE</h2>
          </div>
          <article class="process-description forth-accordion-step">
            <ul>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-touchpoint-development.svg" type="image/svg+xml"></object>
                <p>TOUCHPOINT DESIGN<br/>DEVELOPMENT</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-consolidation.svg" type="image/svg+xml"></object>
                <p>CONSOLIDATION</p>
              </li>
            </ul>
            <div class="step">
              <span class="forth-ball">PROTOTYPE<br/>& REFINE</span>
            </div>
            <ul class="second-wrapper-icons">
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-role-playing.svg" type="image/svg+xml"></object>
                <p>ROLE PLAYING<br/>SCENARIOS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-feedback.svg" type="image/svg+xml"></object>
                <p>GATHERING<br/>FEEDBACKS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-testing.svg" type="image/svg+xml"></object>
                <p>TESTING</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>

        <section class="process-step fifth">
          <div class="step-name accordion-head fifth-accordion">
            <h2>+ DELIVER</h2>
          </div>
          <article class="process-description fifth-accordion-step">
            <ul>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-implementation.svg" type="image/svg+xml"></object>
                <p>IMPLEMENTATION<br/>PLAN</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-storyboards.svg" type="image/svg+xml"></object>
                <p>STORYBOARDS</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-blueprinting.svg" type="image/svg+xml"></object>
                <p>SERVICE<br/>BLUEPRINTING</p>
              </li>
            </ul>
            <div class="step">
              <span class="fifth-ball">DELIVER</span>
            </div>
            <ul class="second-wrapper-icons">
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-feedback.svg" type="image/svg+xml"></object>
                <p>COLLECTING<br/>FEEDBACK</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-further-refining.svg" type="image/svg+xml"></object>
                <p>FURTHER<br/>REFINING</p>
              </li>
              <li class="process-method">
                <object height="100%" width="100%" data="/portfoliosagar/images/icon-goal-setting.svg" type="image/svg+xml"></object>
                <p>GOAL SETTING<br/>SHORT, MID, LONG</p>
              </li>
            </ul>
            <div class="clear"></div>
          </article>
        </section>
      </div>
    </div>
  </section>
  <!-- HOW I WORK SECTION | FINISH HERE -->


  <!-- MY THINKING SECTION | STARTS HERE -->
  <section class="wrapper" id="my-thinking">
    <div class="container">
      <h1>MY <br/>THINKING.</h1>
      <h3>Below i have shared some of my opinions on different topics that offer insights about how I think as a designer. Watch this space for more of my views as i continue my design journey.</h3>
      <div class="posts-wrapper">
        <ul class="post-row">

          <!-- SERVICE DESIGN & POST-ITS -->
          <li class="post-thumb">
            <a href="/portfoliosagar/posts/service-design-post-its.html" class="post-thumb-img">
              <img src="/portfoliosagar/images/thumb-post-it.jpg" alt="Service Design & Posts its Post" title="Service Design & Posts its Post">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>January 2016</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="/portfoliosagar/posts/service-design-post-its.html" class="rounded-button">READ MORE</a>
            </div>
          </li>

          <!-- TOOLS FOR DESIGNING SERVICES -->
          <li class="post-thumb">
            <a href="/portfoliosagar/posts/edure-talk.html" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>TALK</span>
              <h1>TOOLS FOR DESIGNING SERVICES</h1>
              <small>June 2016</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="/portfoliosagar/posts/edure-talk.html" class="rounded-button">READ MORE</a>
            </div>
          </li>

          <!-- MUMBAI DABAWALLAS -->
          <li class="post-thumb">
            <a href="/portfoliosagar/posts/dabawalla.html" class="post-thumb-img" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>MUMBAI DABAWALLAS</h1>
              <small>December 2016</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="/portfoliosagar/posts/dabawalla.html" class="rounded-button">READ MORE</a>
            </div>
          </li>

          <!-- POST 04 -->
          <li class="post-thumb">
            <a href="" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>

          <!-- POST 05 -->
          <li class="post-thumb">
            <a href="" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>

          <!-- POST 06 -->
          <li class="post-thumb">
            <a href="" class="post-thumb-img" class="post-thumb-img">
              <img src="https://unsplash.it/800/800/?random" alt="">
              <div class="img-hover"></div>
            </a>
            <div class="post-thumb-description">
              <span>VIEWPOINT</span>
              <h1>SERVICE DESIGN & POST-ITS</h1>
              <small>16th January 2006</small>
              <p>Nothing says creativity better than a crazy colourful mess of Post-its smeared onto the wall rather than a bunch of people with suits sitting and talking around the table.</p>
              <a href="" class="rounded-button">READ MORE</a>
            </div>
          </li>
          <div class="clear"></div>
        </ul>

        <div class="clear"></div>
      </div>
      <a href="#" class="show-more" id="load-more-posts">
        <span class="arrow-show-more"></span>
        <p>SHOW MORE</p>
      </a>
    </div>
  </section>  
  <!-- MY THINKING SECTION | FINISH HERE -->


  <!-- CONTACT SECTION | STARTS HERE -->
  <section class="wrapper" id="contact-me">
    <div class="container">
      <h1>SAY<br/>HELLO.</h1>
      <h3>Feel free to get in touch with me below.</h3>

      <div>
        <div id="contact-form" class="form-style">

          <!-- WUFOO | STARTS HERE -->
          <div id="container" class="ltr">
            <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://sagarsatam.wufoo.com/forms/z14rg7450wf9ey5/#public">

              <ul>
                <li id="foli9" class="notranslate">
                  <label class="desc" id="title9" for="Field9">
                    Name <span id="req_9" class="req">*</span>
                  </label>
                  <span>
                    <input id="Field9" name="Field9" type="text" class="field text fn" value="" size="17" tabindex="1" placeholder=""       required />
                    <label for="Field9">First</label>
                  </span>
                  <span>
                    <input id="Field10" name="Field10" type="text" class="field text ln" value="" size="18" tabindex="2" placeholder="" required />
                    <label for="Field10">Last</label>
                  </span>
                </li>

                <li id="foli3" class="notranslate">
                  <label class="desc" id="title3" for="Field3">
                    Email <span id="req_3" class="req">*</span> 
                  </label>
                  <div>
                    <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text large" value="" maxlength="255" tabindex="3"       placeholder="" required />
                  </div>
                </li>

                <li id="foli4" class="notranslate">
                  <label class="desc" id="title4" for="Field4">
                    Message
                  </label>
                  <div>
                    <textarea id="Field4" name="Field4" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="4" onkeyup="" placeholder=""></textarea>
                  </div>
                </li>
                <li class="buttons">
                  <div>
                    <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
                  </div>
                </li>
                <li class="hide">
                  <label for="comment">Do Not Fill This Out</label>
                  <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                  <input type="hidden" id="idstamp" name="idstamp" value="wt5IqxrxW14J0DnbT/e/IS+4nZas9DoTvxROAK2yEI4=" />
                </li>
              </ul>
            </form>
          </div>
          <!-- WUFOO | FINISH HERE -->

        </div>
        <div class="contacts-text">
          <p>Or you can connect with me directly at:</p>
          <div>
            <object height="100%" width="100%" data="/portfoliosagar/images/icon-mail.svg" type="image/svg+xml"></object>
            <span>sagar.satam25@gmail.com</span>
          </div>
          <div>
            <object height="100%" width="100%" data="/portfoliosagar/images/icon-phone.svg" type="image/svg+xml"></object>
            <span>+39 329 857 3123</span>
          </div>
          <div>
            <object height="100%" width="100%" data="/portfoliosagar/images/icon-location.svg" type="image/svg+xml"></object>
            <span>Milan, Italy</span>
          </div>
          <!-- <p>I look forward to hearing from you!</p> -->
        </div>
      </div>
    </div>
  </section>
  <!-- CONTACT SECTION | FINISH HERE -->

</div>  

<button onclick="topFunction()" id="myBtn" title="Go to top">
  <p><small>&uarr;</small><br/><br/>Back to top</p>
</button>
